@charset "UTF-8";

a {
     display: block;
     width: 200px;
     margin: 40px auto;
     text-align: center;
     /* background-color: aquamarine; */
}

@media screen and (min-width:960px) {
     a:hover {
          opacity: 0.7;
     }
}

.text-link {
     color: darkcyan;
     text-decoration: underline;

}

.button-link {
     background: darkgreen;
     color: antiquewhite;
     text-decoration: none;
     font-size: 20px;
     padding: 1em;
     font-weight: bold;
}
.button-link2 {
     background: darkorange;
     text-decoration: none;
     padding: 1em;
     color: white;
     font-size: 20px;
     border-radius: 10px;
     border-bottom: 4px solid darkred;
}
a.button-link2:active {
     border-bottom: none;
     transform: translateY(4px);
}